<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  <a href="https://github.com/Cooler-Itoken/flow_app#readme">Flow App</a>
  について詳しく知りたい方は、
  <a href="https://github.com/Cooler-Itoken/flow_app#readme">README.md</a>
  をご覧ください。
</p>