<footer class="footer">
  <small>
    <a href="https://github.com/Cooler-Itoken/flow_app.git">Flow App</a>
    by <a href="https://profiee.com/i/komaken">Komaken</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>